<!DOCTYPE html>
<html>
  <head>
    <title>ChitChat</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/homepage.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
      type="text/javascript"
      async
    ></script>
  </head>
  <body>
    <div id="landing-header">
      <h1>
        Welcome to ChitChat
      </h1>
      <br />
      <!-- <a href="/login"
        ><div class="btn btn-three">
          <span style="font-size:20px">Continue to Chitchat</span>
        </div></a
      > -->
      <a href="/login" class="animated-button1 custom-card" style="text-decoration: none">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Continue
      </a>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <%- include ('partials/footer.ejs') %>
  </body>
</html>
